# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.SldwPoc.iml
# Datasource local storage ignored files
/../../../../../../:\dev\SldwPoc\.idea\.idea.SldwPoc\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
